<!doctype html>
<html>
	<head>
		<title>{% block title %}Kristian Randall - Portfolio{% endblock %}</title>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
		<link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
		{% stylesheets 'bundles/randakportfolio/less/main.less' filter='cssrewrite' %}
			<link rel="stylesheet" href="{{ asset_url }}"/>
		{% endstylesheets %}
	</head>
	<body>
		<div class="header-block">
			<header>
				<h1><a href="{{ path("portfolio") }}">Kristian<img id="portfolio-logo" src="{{ asset('bundles/randakportfolio/images/kristianrandall-logo.png') }}"/>Randall</a></h1>
				<h2>UX Design & Web Development</h2>
			</header>
			<nav>
				<a href="{{ path("portfolio") }}">Portfolio</a>
				<a href="http://blog.kristianrandall.com">Blog</a>
				<a href="{{ path("page", {page: 'about'}) }}">About</a>
				<a href="{{ path("page", {page: 'contact'}) }}">Contact</a>
			</nav>
		</div>
		<div class="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>